
{% capture pageCategory %}{{ page.category[0] }}{% endcapture %}


<div class="inner">
	<div class="read-next-feed">
		<article class="read-next-card"
			style="background-image: url(#)">
			<header class="read-next-card-header">
				<p class="read-next-card-header-sitetitle">Countinue reading about</p>
				<h3 class="read-next-card-header-title"><a href="https://www.alltechnotricks.com" target="_blank" rel="noopener">{{page.category[0]}}</a>
				</h3>
			</header>
			<div class="read-next-card-content">
				{% for post in site.categories[pageCategory] plus: 2 limit: 3 %}
									<ul>
													<li><a href="{{post.url | absolute_url }}">{{post.title}}</a></li>
									</ul>
									{% endfor %}
							</div>
			<footer class="read-next-card-footer"> <a href="https://www.alltechnotricks.com/Blog.html" target="_blank" rel="noopener">See all posts
					→</a> </footer>
		</article>

{% for post in site.categories[pageCategory] reversed limit: 2 %}

<article class="post-card post tag-web-scraping tag-tutorial tag-beginners-guide ">
			<a class="post-card-image-link" href="{{post.url | absolute_url}}" target="_blank" rel="noopener">
				<img class="post-card-image" srcset="{{post.image | absolute_url}}"
					sizes="(max-width: 1000px) 400px, 700px" onerror="this.style.display='none'"
					alt="{{image.title}}" /> </a>
			<div class="post-card-content">
				<div class="post-card-content-link">
					<header class="post-card-header">
						<h2 class="post-card-title">
							<a href="{{post.url | absolute_url}}" target="_blank" rel="noopener">
								{{post.title}}
							</a>
						</h2>
						<span class="post-card-tags">
							<p>{{post.description | truncate: 180 }}</p>
						</span>
					</header>
				</div>
				<footer class="post-card-meta">
					<ul class="author-list">
						<li class="author-list-item">
							<div class="author-name-tooltip">Karunakar Patetl</div>
							<a href="https://www.alltechnotricks.com/Blog.html" target="_blank" rel="noopener" class="static-avatar"> <img class="author-profile-image"
									src="/uploads/avatar.png" alt="Karunakar Patel" />
							</a>
						</li>
					</ul> <a class="meta-item" href="https://www.alltechnotricks.com" target="_blank" rel="noopener">Karunakar Patel</a>
					<time class="meta-item">{{page.datemodified | date_to_string}}</time>
				</footer>
			</div>
		</article>
{% endfor %}
</div>
</div>		