<div class="box">
      <div class="box-header">
         <h6>What Our Readers Say:</h6>
      </div>
    </div>

  <div id="slides">
 
      <div class="slide showing">
     <div class="numbertext">1 / 3</div>
      <img src="/uploads/avatar.png" class="slideimage">
      <p id="name">❝ <span>Karunakar Patel</span> ❞</p> 
      <p>Lorem ipsum dolor sit, amet  officiis d eaque distinctio! Consequuntur min :)</p>
      
    </div> 
    <div class="slide">
      
        <div class="numbertext">2 / 3</div>
        <img src="/uploads/why-google-responsive-design.png" class="slideimage">
        <p id="name">❝ <span>Sharath Macherla .</span> ❞</p> 
        <p>Lorem ipsum dolor sit, ametpiente molestias officia quas. :)</p>
        
      </div> 
      <div class="slide">
        
          <div class="numbertext">3 / 3</div>
          <img src="/uploads/robotstxt-disallow-examples.png" class="slideimage">
          <p id="name">❝ <span>Sharath Macherla.</span> ❞</p>
          <p>Lorem ipsum dolor sit, amet consesdfdsfdsfdsf cia quas. :)</p>
          </div>
    <button class="controls" id="pause">Pause</button>      
  </div>