
<table>
 <th colspan="2">Main Notificatione Heading with Bold Characteristics.</th>
 <tr><td colspan="2">This is the short description <br> about thenotification of the gds. notification of the gds. notification of the gds. notification of the gds.</td></tr>
 <th colspan="2">Important Dates.</th>
 <tr>
 <td>Application Start Date:</td>
 <td>22 December 2019</td>
 </tr>
 <tr><td>Application End Date:</td>
 <td>04 JANUARY 2019</td>
 </tr>
 <th colspan="2">Eligibility</th>
 <tr><td colspan="2">his is the short description about thenotification of the gds. notification of the gds. notification of the gds. notification of the gds.</td></tr>
 <th colspan="2">Application Fee</th>
 <tr>
 <td>For Every Men.</td>
 <td>150 Rupees.</td>
 </tr>
 <tr><td>For SC/BC/ST</td>
 <td>Free Of Cost.</td>
 </tr>
 <tr><td colspan="2">Learn more about the above notification ore about the above not ore about the above not at <a href="#">Grameen Dak Sevak</a></td></tr>
 </table>
 