<div class="box"> 
 <div class="box-header"> 
  <h1>What Our Customers Say:</h1> 
 </div> </div> 
 
 <div id="slides"> 
  <div class="slide showing"> 
   <div class="numbertext">1 / 3</div> 
   <img src="https://karunakar2smart.github.io/pvapplications/uploads/avatar.png" class="slideimage"> 
  <p id="name">❝ <span>Karunakar Patel</span> ❞</p> 
  <p>Lorem ipsum dolor sit, amet officiis d eaque distinctio! Consequuntur min :)</p> 
 </div>
 <div class="slide"> 
  <div class="numbertext">2 / 3</div> 
  <img src="https://karunakar2smart.github.io/pvapplications/upload/sharath.jpg" class="slideimage"> 
  <p id="name">❝ <span>Sharath Macherla .</span> ❞</p> 
  <p>Lorem ipsum dolor sit, ametpiente molestias officia quas. :)</p> 
 </div> 
 <div class="slide"> 
  <div class="numbertext">3 / 3</div> 
  <img src="https://karunakar2smart.github.io/pvapplications/upload/sharath.jpg" class="slideimage"> 
  <p id="name">❝ <span>Sharath Macherla.</span> ❞</p> 
  <p>Lorem ipsum dolor sit, amet consesdfdsfdsfdsf cia quas. :)</p> 
 </div>