<!DOCTYPE html>
<html lang="en">

<head>

  {% include header.html %}

<style>{% include karnadesign.css %}</style>



</head>

<body class="home-template">

  <div class="site-wrapper">

    {% include navigation.html %}


    <div class=" w3-content w3-container w3-margin-top">
      <ul class="breadcrumb">
        <li><a href="https://www.vrbrothersfun.com" target="_top" rel="noopener">Home</a></li>
        <li><a href="https://www.vrbrothersfun.com/Blog.html" target="_top" rel="noopener">Blog</a></li>
        <li>{{page.title}}</li>
      </ul> 
      </div>
 <div class="w3-container w3-content">
        <img src="{{page.image}}" alt="{{image.title}}" title="{{image.title}}" class="w3-image w3-left w3-card-4 w3-margin-right" style="width: 850vw; height: auto;">
        </div>
        
        


<div class="w3-container w3-content w3-margin-top">
  <div class="w3-left"><h1 class="w3-xlarge"><b><a href="#" style="text-decoration: none">{{page.title}}</a></b></h1></div>
  </div>

    <main id="site-main" class="site-main outer">
      <div class="line" id="scrollIndicator"></div>
      <div class="inner">
        <div class="post-feed">

{{content}}


        </div>
      </div>

    </main>

    {% include section-carousel.html %}

    
    {% include footer.html %}

  </div>




</body>

{% include footerscripts.html %}

</html>